#page {
    padding-top: 20px;
}
#guests {
    padding-top: 10px;
    margin-left: -15px;
    padding-right: 5px;
}
#resources {
    padding-top: 10px;
    margin-left: -5px;
    padding-right: 5px;
}